numpy~=1.20.2
opencv-python~=4.5.1.48
Flask~=1.1.2
flask-restx

### Face detection
## conda create --name face python=3.7.10
## conda activate face
## conda install -c anaconda opencv
## pip install tensorflow==2.2
## pip install git+https://github.com/rcmalli/keras-vggface.git
## pip install mtcnn